




 <div class="col" *ngFor ="let product of allproducts">
    <div class="p-2 card shadow-sm">
      <img style=" height:250px; width:250px;" class="card-img-top" src="{{product.prod_image}}" alt="">
      <div class="card-body">
        <p class="card-text">{{product.prod_name}}</p>
        <div class="d-flex justify-content-between align-items-center">
          <div class="btn-group">
            <button type="button" class="btn btn-sm btn-success">Add to cart</button>
            <button type="button" class="btn btn-sm btn-outline-success">Add to wishlist</button>
          </div>
          <small class="text-muted">{{product.prod_price}}</small>
        </div>
      </div>
      </div>
    </div>
  