/* .intro-main{
  
    /* background-image: url("C:\Users\RachithaBaggavalliRa\angular-basics\inGarden\assests\plant-images\intro-1.jpg");
background-repeat: no-repeat;

    background-size: 80%;
} */
/* 
.card{
    
    size: 50%;
}

.categoryimages{

    size: 40%;

} */