
<!-- <!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">

    <link href="app-navbar.component.css" rel="stylesheet">
  </head>
  <body>
    


<main> -->
 

  
    


  <div class="container ml-2 mr-2">
    <header class=" d-flex flex-wrap align-items-center   justify-content-md-between py-3 mb-4 border-bottom">
     <nav class="navbar nav">
      <a class="navbar-brand" href="#">
        <img src="https://img.icons8.com/emoji/344/leaf-fluttering-in-wind.png" width="30" height="30" alt="">
        <span class="navbar-brand text-success" >InGarden</span>
      </a>

      <div class="d-flex justify-content-center mx-auto ">
    
      <ul class="nav  col-12 col-md-auto mb-2  ">
        
       
        <li><a href="/allProducts" class="nav-link px-2 link-dark">All Products</a></li>
        <li><a href="#" class="nav-link px-2 link-dark">Plant Accessories</a></li>
      
      
             
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-success" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" data-bs-toggle="dropdown" aria-expanded="false">
                  Explore More
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <!-- <a class="dropdown-item" href="#">Plants for Office space</a>
                  <a class="dropdown-item" href="#">Outdoor plants</a>
                  <div class="dropdown-divider"></div> -->
                  <!-- <a class="dropdown-item" href="#">Flowering Houseplants </a> -->
                  <!-- <a class="dropdown-item" href="#">Succelents</a> -->
                  <a class="dropdown-item" href="#">Low-light </a>
                  <a class="dropdown-item" href="#">Air purifiers</a>
                  <!-- <a class="dropdown-item" href="#">Low-light </a> -->
                  <a class="dropdown-item" href="#">Trailing & Climbing Plants
                </a>
                </div>
             
            </li>
        
      </ul>
    </div>
    </nav>  
    <!-- </ul> -->
       
      <div class="col-md-3  justify-content-end">
        <button type="button" class="btn btn-outline-success me-2">Login</button>
        <button type="button" class="btn btn-success  ">Sign-up</button>
      </div>

    </header>


    <div class=" d-flex justify-content-center align-content-center">
        <form class="w-75 ">
          <input type="search" class="form-control" placeholder="Search..." aria-label="Search">
          
        </form>
        <button class="btn btn-outline-success">Search</button>
      </div>
     

     
    
   
  </div>
  

<!-- 

</main>

 
    <!-- <script src="/docs/5.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script> -->

      
  </body> 

  

</html> -->

