
  
    


  <div class="container ml-2 mr-1">
    <header class="  py-1 mb-4 border-bottom">
     <nav class="navbar nav">
      <a class="navbar-brand" href="/home">
        <img src="https://img.icons8.com/emoji/344/leaf-fluttering-in-wind.png" width="30" height="30" alt="">
        <span class="navbar-brand text-success" >InGarden</span>
      </a>

      <div class=" justify-content-first mx-auto ">
    
      <ul class="nav  col-12 col-md-auto mb-2  ">
        
       
        <li><a href="/allProducts" class="nav-link px-2 link-dark">All Products</a></li>
        <li><a href="#" class="nav-link px-2 link-dark">Plant Accessories</a></li>
      
      
             
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-success" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" data-bs-toggle="dropdown" aria-expanded="false">
                  Explore More
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                
                
                  <a class="dropdown-item" [routerLink]="['/allProducts' ,{category:'2'}]" >Low-light </a>

                  <a class="dropdown-item" [routerLink]="['/allProducts' ,{category:'3'}]">Air purifiers</a>
           
                  <a class="dropdown-item" [routerLink]="['/allProducts' ,{category:'4'}]">Trailing & Climbing Plants
                </a>
                </div>
             
            </li>
        
      </ul>
    </div>

    <div class="fs-2 mb-3 my-0">
      <button class="btn " (click)="goToCart()"> <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-cart" viewBox="0 0 16 16">
        <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"></path>
        </svg></button> 
        <small id="cartCount">
          {{cart_count}}
       
           </small>

    </div>
    </nav>  
    
 

      
      <!-- <div class="col-md-3 justify-content-end ">
        <button type="button" class="btn btn-outline-success me-2">Login</button>
        <button type="button" class="btn btn-success  ">Sign-up</button>
      </div> -->

    


    </header>


    <!-- <div class=" d-flex justify-content-center align-content-center">
        <form class="w-75 ">
          <input type="search" class="form-control" placeholder="Search..." aria-label="Search">
          
        </form>
        <button class="btn btn-outline-success">Search</button>
      </div> -->
     

     
    
   
  </div>
  


